body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  margin: 3vw;
}

h1 {
  color: #4E92DF;
}
.logo {
  text-align: left;
  width: 48vw;
}
.main {
  display: flex;
  justify-content: space-around;
  height: 70vh;
}
.left,.right {
  width:48vw;
}